#################
*.wdf
*.wpc
*.xml
*.log
*.pb
*.type
*.xdbg
*.dbg
*.svtype
*.sdb
*.bat
*.tcl
*.jou
*.exe
*.reloc
*.rtti
*.mem
*.bin
*.bit
!Inst.mem
/CPU.sim/*
*.dcp
*.rpx
*.rst
*.vdi
*.rpt
*.html
*.rlx
*.prm
*.sh
*.wdb
*.txt
*.vds
*.v